
@mixin button(){
  width: 5em;
  font-size: 1em;
  padding: .2em .5em;
  border-radius: 1em;
  border: 0px;
  background-color: $gold;
  font-family: $sub-font;
  font-weight: 600;
  color: $turquoise;
  &:hover { 
    color: black;
    cursor: pointer;
  }
}