  
  $grey: rgba(44, 53, 49, 1);
  $turquoise: rgba(17, 100, 102, 1);
  $tan: rgba(217, 176, 140, 1);
  $gold: rgba(255, 203, 154, 1);
  $light-blue: rgba(209, 232, 226, 1);
  $title-font: 'Bangers', cursive;
  $sub-font: 'Montserrat', sans-serif;