@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid $gold;
  margin: 1em .5em;
  .star {
    display: none;
  }
}

.card:hover {
  border-color: $turquoise;
  .star {
    display: block;
  }
}


