@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.nav-bar {
  color: $gold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  @include button();
  margin-right: .5em;
}

.signup {
  @include button();
  color: $turquoise;
}

.logout-button {
  @include button();
  margin-left: 1em;
}

.button-wrap {
  display: flex;
  margin-right: 1.75em;
  margin-top: 4.6em;
}
