@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.nav-bar {
  color: $gold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  @include button();
  margin-right: .5em;
}

.signup {
  @include button();
  color: $turquoise;
}

.logout-button {
  @include button();
  margin-left: 1em;
}

.welcome-text {
  text-shadow: 2.5px 2.5px black;
  font-family: $sub-font;
  margin: 0 0 .5em 0;
}