@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.nav-bar {
  color: $gold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  @include button();
  margin-right: .5em;
}

.signup {
  @include button();
  color: $turquoise;
}

