@import '../../styles/variables.scss';

.header {
  background-color: $turquoise;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.title-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header h1 {
  color: $gold;
  margin: .5em 0;
  font-size: 3em;
}