@import '../../styles/variables.scss';

.header {
  background-color: $turquoise;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.title-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.title {
  color: $gold;
  font-family: $title-font;
  font-size: 3.5em;
  margin: .5em 0;
  text-shadow: 2.5px 2.5px black;
}