@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.signup-button {
  @include button();
}

.account-redirect {
  margin-left: 1em;
}

.button-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}