@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.log-header {
  color: $gold;
}

.user-login {
  align-items: center;
  border: 1px solid $turquoise;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  left: 33.2%;
  top: 20%;
  z-index: 1;
  background-color: $grey2;
  height: 20em;
  width: 30em;
  font-family: $sub-font;
}

.input-field {
  height: 2em;
  width: 60%;
  margin-bottom: 1.5em;
  font-size: .85em;
  font-weight: bold;
}

.log-button {
  @include button();
  width: 5.5em;
}

.favorites-button {
  @include button();
  width: 5.5em;
}

.redirect-signup {
  @include text-link();
  margin-left: 2.5em;
}

.redirect-home {
  @include text-link();
  margin-right: 1em;
}

.button-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

