@import '../../styles/variables.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid $gold;
  margin: 1em .5em;
  z-index: 0;
  .star {
    display: none;
  }
}

.card:hover {
  border-color: $turquoise;
  .star {
    display: block;
  }
  .favorite-wrapper {
    display: block;
  }
}

.star-ratings {
  margin-top: 1em;
}

.favorite-wrapper {
  align-items: center;
  background-color: $grey;
  border-radius: 9%;
  display: none;
  height: 5em;
  opacity: .88;
  margin: 0;
  position: absolute;
  right: 2em;
  top: 3em;
  width: 70%;
}

.favoriteBtn {
  background: url('../../Images/like.svg')no-repeat;
  border: none;
  background-size: cover;
  height: 3em;
  margin-top: .75em;
  cursor: pointer;
  width: 3em;
}

.favorited {
  background: url('../../Images/like-red.svg')no-repeat;
}